{% include metadata.html %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/latex.css' | relative_url }}">
<script defer src="{{ '/assets/js/latex_marker_links.js' | relative_url }}"></script>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
